@{
    ViewData["Title"] = "Welcome";
}
<!DOCTYPE html>
<html>
    <head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>

    <body>
        <div class="title">
            <h1>First page</h1>
        </div>
    </body>
</html>
